src/edeposit/amqp/aleph_link_export/xsd/link_export_notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uuid" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="doc_number" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="document_url" type="xs:anyURI" minOccurs="1" maxOccurs="1" />
        <xs:element name="urn_nbn" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
        <xs:element name="kramerius_url" type="xs:anyURI" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute type="xs:string" name="session_id" />
    </xs:complexType>
  </xs:element>

  <xs:element name="records">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="record" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
