src/edeposit/amqp/xsd/link_export_result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="status">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="OK"></xs:enumeration>
        <xs:enumeration value="ERROR"></xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>

  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uuid" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element name="doc_number" type="xs:string" minOccurs="1" maxOccurs="1" />
        <xs:element ref="status" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="result" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
